<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <httpRuntime maxRequestLength="2147483647"></httpRuntime>
    </system.web>
  <system.webServer>
        <security>
          <requestFiltering>
            <requestLimits maxAllowedContentLength="4294967295" />
          </requestFiltering>
        </security>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="mikhail.drozdoff@ya.ru" deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp"/>
        <network host="smtp.yandex.ru" port="25" password="АгаТакОткрытоНаписал"  userName="mikhail.drozdoff" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="EpamProgectDB" connectionString="Data Source=(local);Initial Catalog=EpamProgectDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>
